footer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    position: fixed;
    display: block;
    bottom: 0;
}

.foot {
    width: 100px;
    height: 80px;
    display: block;
    position: fixed;
    right: 0;
    margin-right: 50px;

            @media screen and (max-width:480px) {
                    margin-right: 5px;
                }
}

.social {
    display: inline-flex;
    padding: 0;

    @media screen and (max-width: 480px) {
        .social-icon {
            width: 15px;
            height: 15px;
        }
    }
}

.social-li {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
}

.copyright {
    margin-left: 300px;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-size: small;

    @media screen and (max-width: 1024px) {
        margin-left: 20px;
    }

                        @media screen and (max-width:480px) {
                            font-size: 10px;
                        }
}

.copy {
    margin-right: 10px;
}

